
.header{
    height: 40px; 
    text-align: center;
    line-height:80px;
    font-size: 15px;
    color:black;
    font-weight: bold;
}
.left{
    float: left;
    margin-left: 50px; 
    
    width: 300px; 
    height: 520px; 
    
    text-align: center; 
    background-color:rgb(248, 238, 240);
}
.middle{
    
    margin-left: 400px; 
    margin-right: 100px; 
    
    border-style: solid; 
    border-width: 2px; 
    border-color: black;
    text-align: center; 
    background-color: white;

    cursor:auto;
}

#myCanvas{
    cursor: url('oth505.cur'),auto;
}

.btn{
    cursor: pointer;
}

#box{
    position: absolute;
}