




  .slider_p {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider_p:hover {
    opacity: 1;
  }
  
  .slider_p::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
  }
  
  .slider_p::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgba(86, 85, 90, 0.897);
    cursor: pointer;
  }



  .slider_s {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider_s:hover {
    opacity: 1;
  }
  
  .slider_s::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
  }
  
  .slider_s::-moz-range-thumb {
    width: 25px;
    height: 15px;
    background: rgba(86, 85, 90, 0.897);
    cursor: pointer;
  }

