.left_table{
    width: 200;
    height: 800;
    margin-left: 38px;
    margin-top: 5px;

}

.color_demoTable{
   
    margin-top: 10px;
    margin-left: 52px;
}

.table_item{
    width:70;
    height:70;
    fill:rgb(243, 210, 216);
    stroke:pink;
    stroke-width:2;
    opacity:0.5;
    cursor:pointer;
}
.table_item:hover {
    opacity: 1;
  }





.filled_rectangle{
    cursor:pointer;
}
.filled_circle{
    cursor:pointer;
}
.filled_triangle{
    cursor:pointer;
}

.form_table{
    margin-left: 28px;
}


#fontStyle{
    width:140px;
    height:20px;
    background-color: rgb(255, 129, 150);
    border: none;
    color: white;
    cursor:pointer;
    opacity:0.5;
}

#fontSize{
    width:40px;
    height:20px;
    background-color: rgb(255, 129, 150);
    border: none;
    color: white;
    cursor:pointer;
    opacity:0.5;
}

#fontStyle:hover{
    opacity:1;
}

#fontSize:hover{
    opacity:1;
}

.select-items div:hover, .same-as-selected {
    background-color: green;
}




.inputText{
    width:50px;
    height:20px;
    background-color: rgb(255, 89, 117);
    border: none;
    color: white;
    cursor:pointer;
}
.inputText:hover{
    width:50px;
    height:20px;
    background-color: rgb(197, 51, 75);
    border: none;
    color: white;
    cursor:pointer;
}

